@import "../../scss/index.scss";

.login-form {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    .ui.form {
        .field {
            .input {
                
    display: flex;
    justify-content: center;
                margin-bottom: 5px;
                margin-top: 5rem;
                input{
                    display: flex;
                    justify-content: center;
                    background-color: transparent;
                    border: 0;
                    // border-bottom: 2px solid $font-purple;
                    border-bottom: 1px solid #e91a4a;
                    border-radius: 0;
                    font-size: 16px;
                    width: 15rem;
                    // color: $font-purple;
                }
                i {
                    color: $font-light;
                    font-size: 19px;
                }
                &.error {
                    input {
                        border-bottom: 1px solid $danger; 

                    }
                }
            }
        }

        .error-text {
            color: $font-light;
            padding-left: 15px;
        }
    }

    .resend-verification-email {
        color: $font-light;
        padding: 20px 20px 0 20px;
        text-align: center;

        span {
            color: $primary-color;
            font-weight: bold;
            &:hover {
                cursor:pointer;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        .ui.button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 12rem;
                height: 2.5rem;
                // background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
                background-color: #e91a4a ;
                color: $font-light;
                text-transform: uppercase;
                margin-top: 10px;
                border-radius: 10px;
                padding: 17px 0px;
                font-size: 14px;
                letter-spacing: 1px;
                border-color: transparent;
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20rem;
                border-radius: 20px;
        }
    }
    &__options {
        margin-top: 30px;
        color: $font-light;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        
        p {
            &:first-of-type {
                // margin-bottom: 40px;
                &:hover {
                    cursor:pointer;
                }
            }

            &:last-of-type {
                color: $font-grey;

                span {
                    color: $font-light;
                    text-decoration: underline;
                    padding-left: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}