$primary-color: #e91a4a;
$primary-color-hover: #a51637;

$font-light:rgb(235, 235, 235);
$font-grey:rgb(209, 209, 209);
$font-dark:#000;

$background-primary: $primary-color;

$background-light: #fff;
$background-grey: rgb(85, 85, 85);
$background-grey-dark: #101010;
$background-grey-dark-light: #141414;
$background-dark: #000;

$background-grey-hover: #3c3c3c;

$danger: #f00;
